# Mercedes-Benz Greener Manufacturing

In [1]:
import pandas as pd

In [42]:
train_data = pd.read_csv('train.csv')

In [43]:
print("Data Head: \n{}\n\n".format(train_data.head()))
print("Shape of data: \n{}\n\n".format(train_data.shape))
print("Data Columns: \n{}\n\n".format(train_data.columns))
print("Data Info: \n{}\n\n".format(train_data.info))

Data Head:
   ID       y  X0 X1  X2 X3 X4 X5 X6 X8  ...  X375  X376  X377  X378  X379  \
0   0  130.81   k  v  at  a  d  u  j  o  ...     0     0     1     0     0
1   6   88.53   k  t  av  e  d  y  l  o  ...     1     0     0     0     0
2   7   76.26  az  w   n  c  d  x  j  x  ...     0     0     0     0     0
3   9   80.62  az  t   n  f  d  x  l  e  ...     0     0     0     0     0
4  13   78.02  az  v   n  f  d  h  d  n  ...     0     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     1     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 378 columns]


Shape of data:
(4209, 378)


Data Columns:
Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)


Data Info:
<bound method DataFrame.info of         ID       y  X0 X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
0        0  130.81   k  v  at  a  d   u  j  o  ...     0     0     1     0
1        6   88.53   k  t  av  e  d   y  l  o  ...     1     0     0     0
2        7   76.26  az  w   n  c  d   x  j  x  ...     0     0     0     0
3        9   80.62  az  t   n  f  d   x  l  e  ...     0     0     0     0
4       13   78.02  az  v   n  f  d   h  d  n  ...     0     0     0     0
...    ...     ...  .. ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
4204  8405  107.39  ak  s  as  c  d  aa  d  q  ...     1     0     0     0
4205  8406  108.77   j  o   t  d  d  aa  h  h  ...     0     1     0     0
4206  8412  109.22  ak  v   r  a  d  aa  g  e  ...     0     0     1     0
4207  8415   87.48  al  r   e  f  d  aa  l  u  ...     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  aa  g  w  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     1     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 378 columns]>

## 1: If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

#### Function for checking column with variance equal to zero

In [44]:
def rem_var_val_zero(df):
    var_df=pd.DataFrame(df.var(),columns=['Variance'])
    return(list(var_df[var_df.Variance==0].index))

In [48]:
print("Columns with zero Variance: {}".format(rem_var_val_zero(train_data)))
print("Number of columns with variance as zero: {}".format(len(rem_var_val_zero(train_data))))

Columns with zero Variance: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Number of columns with variance as zero: 12

In [49]:
var_df = pd.DataFrame(train_data.var(),columns=['Variance'])

#### Removing columns with zero variance

In [50]:
train_data.drop(columns=list(var_df[var_df.Variance==0].index), inplace = True)

In [51]:
train_data.shape  # 12 Columns are removed having zero variance

(4209, 366)

## 2: Check for null and unique values for test and train sets.

In [52]:
train_null_data_df = pd.DataFrame(train_data.isna().any(),columns=['IsNull'])

In [57]:
print("Null data: \n{}\n\n".format(train_null_data_df[train_null_data_df.IsNull==True]))
print("Noumber of Null values: {}".format(len(train_null_data_df[train_null_data_df.IsNull==True])))

Null data:
Empty DataFrame
Columns: [IsNull]
Index: []


Noumber of Null values: 0

In [58]:
train_unique_data_df = pd.DataFrame(train_data.nunique(),columns=['uniqueCount'])
train_unique_data_df[train_unique_data_df.uniqueCount>2]

    uniqueCount
ID         4209
y          2545
X0           47
X1           27
X2           44
X3            7
X4            4
X5           29
X6           12
X8           25